:root{
    @for $i from 1 through length($borderRadius){
        $value : nth($borderRadius,$i);
        --border-radius-#{$i}: #{$value};
    }
}

@for $i from 1 through length($borderRadius){
    $value : nth($borderRadius,$i);
    .g--padding-#{$i}{
        border-radius: #{$value};
    }
}