<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.l-centrado{
    display: flex;
    height: 100vh;
}

.l-centrado__area{
    margin-left: auto;
    margin-right: auto;
}

.l-centrado__area--horizontal{
    margin-top: auto;
    margin-bottom: auto;
}
</style>
<body>
    <div class="l-centrado">
        <div class="l-centrado__area l-centrado__area--vertical l-centrado__area--horizontal"><button>Boton</button></div>
    </div>
</body>
</html>