:root {
    --color-normal: #0056b8;
    --color-alternativo: #ed8936;
    --color-peligroso: #c53030;
    --color-ecologico: green;
    --color-blanco: #ffffff;

    --size-grande: 16px;
    --size-chiquito: 10px;
  }

  .c-button {
    --c-button-strong-color: var(--color-normal);
    --c-button-weak-color: var(--color-blanco);
    --c-button-size: var(--size-grande);


    font-family: sans-serif;
    font-size: var(--c-button-size);
    padding: var(--c-button-size);

    border-radius: 6px;
    border-width: 1px;
    border-style: solid;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;


    border-color: var(--c-button-strong-color);
    background-color: var(--c-button-strong-color);
    color: var(--c-button-weak-color);
  }

  .c-button--chiquito{
    --c-button-size: var(--size-chiquito);
  }

  .c-button--alternativo {
    --c-button-strong-color: var(--color-alternativo);
  }
  .c-button--peligroso {
    --c-button-strong-color: var(--color-peligroso);
  }

  .c-button--ecologico {
    --c-button-strong-color: var(--color-ecologico);
  }



  .c-button--secundario {
    border-color: var(--c-button-strong-color);
    background-color: var(--c-button-weak-color);
    color: var(--c-button-strong-color);
  }
  .c-button--terciario {
    border-color: transparent;
    background-color: transparent;
    color: var(--c-button-strong-color);
  }

  td {
    padding: 10px;
  }

  table {
    background-color: #f5f5f5;
  }